<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LEARN APP FOR EVERYONE">
    <title>LEARN APP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    
    </head>
    <body>
        <div class="container">

            <h1>LEARN APP</h1>
            <p>HERE GOES THE LANDING PAGE !</p>
            <a href="/login" class="btn btn-outline-dark">LOGIN</a>
            <a href="/register" class="btn btn-outline-dark">REGISTER</a>

            <footer class="text-muted text-center text-small">
                <p class="mb-1">&copy; LEARN APP</p>
            </footer>
    </div>

</body>
</html>